extends ../layouts/layout

block content
  //script(src='/app/socket/hichat.js')
  //script(src='/node_modules/socket.io-client/dist/socket.io.js')
  //<script src="socket.io/socket.io.js"></script>
  +menu(Config.menus)
  //h1
    span Socket test
    //small.pull-right: a(href='/users/new') New User
  //hr
  #chatBody.form-inline(style='margin-left:3%;margin-top:20px;width:90%;height:600px;border:1px solid #D8D8D8;border-radius:5px;box-shadow:5px 15px 30px #888888;')
    div.form-group(style='width:6%;height:600px;background-color:#505050;border-radius:2px;text-align: center')
      ul.list-group.form-group(style='width:80%;margin-top:100%')
        img#photo(style='width:90%;height:90%;border-radius:2px;margin-top:5%;margin-bottom:5%')
        br
        i.glyphicon.glyphicon-comment(href='#chatDiv',data-toggle='tab',style='font-size:200%;color:#33CC33;margin-top:50%;')
    div.tab-content.form-group(style='width:94%')
      #chatDiv.tab-pane.fade.in.active(style='width:100%;background-color:#F8F8F8;border-radius:3px')
        ul#userList.form-group.list-group(style='width:25%;height:600px;background-color:#fff;overflow:auto;')
        div.form-group(style='width:1px;height:598px;background:#D8D8D8;')
        .wrapper.form-group(style='width:74.5%;height:598px;background-color:#F8F8F8')
          #receiverName(style='height:30px;margin:15px auto 15px 20px;font-size:150%')
          hr(style='height:1px;margin:0 0 0 0;background-color:D8D8D8')
          ul#chat(style='width:100%;height:400px;background-color:#F8F8F8;overflow:scroll;padding:20px;list-style:none;')
          hr(style='height:1px;margin:0 0 0 0;background-color:D8D8D8')
          .controls
            .form-inline(style='margin-top:10px')
              #emoji.form-group.glyphicon.glyphicon-heart(style='margin-left:3%;font-size:130%;color:#989898',tabindex='1')
              #sendImg.form-group.glyphicon.glyphicon-picture(style='margin-left:2%;font-size:130%;color:#989898',title='img')
              #sendFile.form-group.glyphicon.glyphicon-folder-open(style='margin-left:2%;font-size:130%;color:#989898',title='file')
              input#img(type='file',value='img',style='display:none')
              input#file(type='file',value='file',style='display:none')
              #message(style='height:60px;width:98%;margin-left:2%;margin-top:10px;outline:none;word-wrap:break-word;overflow:auto;',contenteditable='true',onkeydown='if(event.keyCode==13)return false')
  #emojiWrapper(style='display:none')
    #emojiPackage
      img.emojiImg(src='/img/emoji/happy.png')
      img.emojiImg(src='/img/emoji/lovely.png')
      img.emojiImg(src='/img/emoji/funny.png')
      img.emojiImg(src='/img/emoji/unbelieveable.png')
      img.emojiImg(src='/img/emoji/despise.png')
      img.emojiImg(src='/img/emoji/unhappy.png')
      img.emojiImg(src='/img/emoji/haha.png')
      img.emojiImg(src='/img/emoji/sweet.png')
      img.emojiImg(src='/img/emoji/smile.png')
      img.emojiImg(src='/img/emoji/darkface.png')
      img.emojiImg(src='/img/emoji/breathe.png')
      img.emojiImg(src='/img/emoji/kiss.png')
      img.emojiImg(src='/img/emoji/frightened.png')
      img.emojiImg(src='/img/emoji/surprise.png')
      img.emojiImg(src='/img/emoji/grin.png')
      img.emojiImg(src='/img/emoji/cool.png')
      img.emojiImg(src='/img/emoji/crazysweet.png')
      img.emojiImg(src='/img/emoji/cry.png')
      img.emojiImg(src='/img/emoji/ah.png')
      img.emojiImg(src='/img/emoji/blink.png')
      img.emojiImg(src='/img/emoji/angry.png')
      img.emojiImg(src='/img/emoji/poof.png')
      img.emojiImg(src='/img/emoji/lovemoney.png')
      img.emojiImg(src='/img/emoji/furious.png')
      img.emojiImg(src='/img/emoji/sleep.png')
      img.emojiImg(src='/img/emoji/spit.png')
      img.emojiImg(src='/img/emoji/tongue.png')
      img.emojiImg(src='/img/emoji/wronged.png')
      img.emojiImg(src='/img/emoji/laugh.png')
      img.emojiImg(src='/img/emoji/o.png')
      img.emojiImg(src='/img/emoji/question.png')
      img.emojiImg(src='/img/emoji/aggrieved.png')
      img.emojiImg(src='/img/emoji/good.png')
      img.emojiImg(src='/img/emoji/love.png')
      img.emojiImg(src='/img/emoji/rainbow.png')
      img.emojiImg(src='/img/emoji/sun.png')
      img.emojiImg(src='/img/emoji/cake.png')
      img.emojiImg(src='/img/emoji/bulb.png')
      img.emojiImg(src='/img/emoji/coffee.png')
      img.emojiImg(src='/img/emoji/gift.png')
      img.emojiImg(src='/img/emoji/rose.png')
      img.emojiImg(src='/img/emoji/money.png')
      img.emojiImg(src='/img/emoji/brokenheart.png')
      img.emojiImg(src='/img/emoji/moon.png')
      img.emojiImg(src='/img/emoji/music.png')
      img.emojiImg(src='/img/emoji/vhand.png')
      img.emojiImg(src='/img/emoji/weak.png')
      img.emojiImg(src='/img/emoji/gestures.png')
      img.emojiImg(src='/img/emoji/thumb.png')
      img.emojiImg(src='/img/emoji/ok.png')